<p>{{ blog.name }}</p>

{% if user.is_authenticated and user in blog.authors.all %}
	<p><a href="{% url 'myblog:create_post' blog_id=blog.id %}">Write a post</a></p>
{% endif %}

{% if user.is_authenticated and user == blog.owner %}
	<p><a href="{% url 'myblog:share_blog' blog_id=blog.id %}">Share this blog with others</a></p>
	<p><a href="{% url 'myblog:delete_blog' blog_id=blog.id %}">Delete this blog</a></p>
{% endif %}

{% if blog.post_set.all %}
    <ul>
    {% for post in blog.post_set.all %}
        <li><a href="{% url 'myblog:post' post.id %}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No posts are available.</p>
{% endif %}

<p><a href="{% url 'myblog:index' %}">Return</a></p>