<form name="input" action="{% url 'myblog:edit_post_act' %}" method="post">
{% csrf_token %}
<input type="hidden" name="blog_id" value="{{ blog_id }}">
<input type="hidden" name="post_id" value="{{ post.id }}">
Title: <input type="text" name="title" value="{{ post.title }}">
<input type="submit" value="Post!" /><br>
Tags(Comma separated):<br>
<input type="text" name="tags" value="{{ tags }}"><br>

<textarea cols="40" rows="5" name="body">{{ post.body }}</textarea>
</form>

<p><a href="{% url 'myblog:index' %}">Return</a></p>